openapi: '3.0.0'
info:
  version: 1.0.0
  title: GTECH Documentation API
  license:
    name: MIT
servers:
  - url: https://api.gtechdocs.com/v1
paths:
  /documents:
    get:
      summary: List all documents
      operationId: listDocuments
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: A paged array of documents
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Documents'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a document
      operationId: createDocuments
      responses:
        '201':
          description: Document created successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /documents/{docId}:
    get:
      summary: Retrieve a specific document
      operationId: getDocumentById
      parameters:
        - name: docId
          in: path
          required: true
          description: The ID of the document to retrieve
          schema:
            type: string
      responses:
        '200':
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /categories:
    get:
      summary: List all categories
      operationId: listCategories
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 50)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: A paged array of categories
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Categories'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a category
      operationId: createCategories
      responses:
        '201':
          description: Category created successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Document:
      required:
        - id
        - title
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        content:
          type: string
        categoryId:
          type: string
    Documents:
      type: array
      items:
        $ref: '#/components/schemas/Document'
    Category:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        description:
          type: string
    Categories:
      type: array
      items:
        $ref: '#/components/schemas/Category'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string